div.cart-item-div {
  display: flex;
  flex-direction: column;
}

div.name-and-price {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
}

div.quantity-div {
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

div.quantity-div button {
  padding: 5px;
}

.quantity-input {
  text-align: center;
}

.quantity-input input {
  background-color: #d4bff9;
  border: 0;
}
