div.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

div.cart-item-wrapper,
div.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d4bff9;
  margin-bottom: 10px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.09);
}

div.cart-item-wrapper button,
div.checkout button {
  animation: button-animation 3s infinite linear alternate;
  padding: 10px;
  border: 1px solid #d4bff9;
  color: black;
  border: 0;
  font-size: 20px;
  border-radius: 5px;
}

@keyframes button-animation {
  from {
    background-color: #bc75c9;
  }
  to {
    background-color: #ab47bc;
  }
}

div.checkout {
  width: 95%;
}
