section.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section.home section {
  box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
}

section.front-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 10px;
  padding: 15px;
  gap: 5px;
}

.about-div {
  display: flex;
  width: 55%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.about-div p {
  font-size: 17px;
  text-align: center;
}

.about-div p.about-text-one {
  font-size: 19px;
  color: white;
  background-color: rgba(255, 255, 255, 0.09);
  border: 1px solid #d4bff9;
  padding: 9px;
  border-radius: 5px;
}

.about-div button.shop-button {
  animation: button-animation 3s infinite linear alternate;
  padding: 10px;
  border: 1px solid #d4bff9;
  color: black;
  border: 0;
  font-size: 19px;
  border-radius: 5px;
}

.rotating-image {
  flex: 1;
  padding: 15px;
  animation: rotating-image 5s linear;
  animation-iteration-count: infinite;
}

@keyframes rotating-image {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section.boxes-section {
  display: flex;
  flex-direction: column;
  margin: 25px;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 10px;
  padding: 15px;
  gap: 5px;
}

section.boxes-section p {
  text-align: center;
}

section.boxes-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.09);
  border: 1px solid #d4bff9;
}

section.boxes-section div h3 {
  margin: 5px;
}

section.boxes-section img {
  height: 65px;
}

section.customer-section {
  display: flex;
  flex-direction: column;
  margin: 25px;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 10px;
  padding: 15px;
  gap: 5px;
}

section.customer-section h3 {
  width: 100%;
  text-align: center;
}

section.customer-section .review-one,
section.customer-section .review-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.09);
  border: 1px solid #d4bff9;
  gap: 15px;
}

section.customer-section .review-author {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

section.customer-section img {
  height: 65px;
}

.shop-button-div {
  display: flex;
  flex-direction: column;
  margin: 25px;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 10px;
  padding: 15px;
  gap: 5px;
}

.shop-button-div h1 {
  text-align: center;
}

.shop-button-div button {
  animation: button-animation 3s infinite linear alternate;
  padding: 10px;
  border: 1px solid #d4bff9;
  color: black;
  border: 0;
  font-size: 25px;
  border-radius: 5px;
}

@keyframes button-animation {
  from {
    background-color: #bc75c9;
  }
  to {
    background-color: #ab47bc;
  }
}

.about-div button:hover {
  cursor: pointer;
  border: 1px solid white;
}

.shop-button-div button:hover {
  cursor: pointer;
  border: 1px solid white;
}

@media (min-width: 768px) {
  section.home {
    width: 75%;
  }

  section.front-section {
    height: 25%;
    margin-top: 45px;
  }

  .rotating-image {
    width: 45px;
    flex-grow: 0;
    flex-basis: 15%;
  }

  section.boxes-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  section.boxes-section div {
    width: 30%;
    text-align: center;
  }

  section.customer-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0;
  }

  section.customer-section h3 {
    font-size: 30px;
    margin-bottom: 25px;
  }

  section.customer-section .review-one,
  section.customer-section .review-two {
    width: 45%;
  }
}
