div.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.shop .item-div {
  width: 90%;
  box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
  background-color: rgba(255, 255, 255, 0.09);
  border: 1px solid #d4bff9;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.shop .item-div img {
  width: 85%;
}

.shop .item-div h2 {
  background-color: rgba(255, 255, 255, 0.11);
  width: 85%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.shop .item-div p {
  font-size: 20px;
}

.shop .item-div button {
  animation: button-animation 3s infinite linear alternate;
  padding: 10px;
  border: 1px solid #d4bff9;
  color: black;
  border: 0;
  font-size: 19px;
  border-radius: 5px;
  margin: 15px;
}

@keyframes button-animation {
  from {
    background-color: #bc75c9;
  }
  to {
    background-color: #ab47bc;
  }
}

.shop .item-div button:hover {
  cursor: pointer;
  font-weight: bold;
}

@media (min-width: 768px) {
  div.shop {
    width: 85%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }

  .shop .item-div {
    width: 26%;
    margin: 25px;
    justify-content: space-between;
  }
}
